* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*shared style*/


.container {
  max-width: 1280px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.btn {
  background-color: #dd0000;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  color: wheat;
  border: none;
}
img{
  max-width: 100%;
}
/*banner style*/
.banner {
  display: flex;
  align-items: center;

  background-color: black;
  color: wheat;
  border-radius: 15px;
  margin: 50px auto;
}
.banner-right{
  flex: 1;
}
.banner-right img {
  display: block;
}
.banner h2 {
  font-size: 70px;
  font-weight: 600;
  margin: 15px 0;
  line-height: 65px;
}
.banner p {
  color: wheat;
  max-width: 65%;
}
.banner-left {
  padding-left: 25px;
  flex: 1;
}
/*main section button left*/
.upcoming-matches {
  display: flex;
  padding: 50px 0;
  gap: 22px;
}
.upcoming-matches-left {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: black;
  width: fit-content;
  gap: 10px;
  padding: 15px;
  border-radius: 15px;
  height: fit-content;
}
.upcoming-matches-right {
  width: 75%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  place-items: center;
}
#img-2 {
  height: 170px;
}
.upcoming-matches-left .btn:nth-child(1),
.upcoming-matches-left .btn:nth-child(2) {
  background-color: wheat;
  color: black;
}

.upcoming-matches-right .card {
  border: 1px solid wheat;
  border-radius: 10px;
}
.card-body {
  padding: 20px;
}
.upcoming-matches-right .card button {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 17px;
  margin-top: 10px;
}

.upcoming-matches-right .card img {
  width: 100px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.upcoming-matches-right h2 {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 600;
}
.card-bottom {
  display: flex;
  gap: 20px;
  color: #161616cc;
}
footer {
  background-color: black;
  margin-top: 130px;
  width: 100%;
}
footer p {
  font-size: 40px;
  font-weight: 600;
  padding-top: 130px;
  color: wheat;
  text-align: center;
}
footer hr {
  width: 90%;
  margin: 50px auto;
  border: 1px solid wheat;
}
.footer-body {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  place-items: center;
  margin-top: 50px;
  gap: 30px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 130px;
}
.footer-body a {
  text-decoration: none;
  color: wheat;
}

/*media query*/
@media (max-width: 992px) {
  .banner h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
  }
  .upcoming-matches {
    flex-direction: column;
    
  }
  .upcoming-matches-left {
    flex-direction: row;
    width: 100%;
    gap: 22px;
    background: transparent;
  }
  .upcoming-matches-left > * {
    flex: 1;
  }
  .upcoming-matches-left .btn {
    border: 1px solid wheat;
  }
  .upcoming-matches-right {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    
  }
  .footer-body {
  grid-template-columns: repeat(1,1fr);
}


@media(max-width:768px) {
  
  .banner{
    flex-direction: column;
    text-align: center;
    margin-top: 0;
  }
  .banner .banner-left{
    margin-bottom: 50px;
    padding-left: 0;
    padding-top: 30px;
  }
  .banner .banner-left p{
    margin: 15px auto;
  }
  
}